@charset "UTF-8";
body{
         margin: 0px;
         padding: 0px;
         font-family: 'Roboto', sans-serif;
         background-color: gray;

}
header{
         height: 75px;
         background-color: #1B2629;
         margin-top: -80px;
}
nav{
      background-color: #1B2629;
      margin: 80px auto 80px;
      width: 60%; 
      height: 60px; 
}

nav ul{
        padding: 20px;
}

nav ul li{
      margin-left: 50px;
      display: inline;
      padding: 170px;
      
}

nav ul li a{
         text-decoration: none;
         color: #F7D622;
}

nav ul li a:hover{
      text-decoration: underline;
      color: black;
}


div#logo{
      margin-top: -70px;
      margin-left: 35px;
}

         /*Estilo para o formulario*/

div#formulario{
         margin: 200px auto;
         
         width: 500px;
         height: 400px;
}

form{
         padding: 20px;
         margin: 30px 0px;
}

h2{
         text-align: center;
}
label,input{
         display: block;
         padding: 5px;
         width: 90%;
         outline: none;
         margin: auto;
         font-size: 13pt;
}

input{
         height: 30px;
         size: 50px;
         border-radius: 50px;
         border: 1px solid black;
}

input[type=submit]{
         width: 100px;
         color: white;
         background-color: brown;
         cursor: pointer;
         margin-top: 20px;
         margin-left: 180px;
}

select{
         border-radius: 50px;
         outline: none;
         border: 1px solid black;
         height: 30px;
         width: 200px;
         margin-top: 5px;
}

