@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@font-face{
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

/* Formatação dos container`s */
*{
    margin: 0px;
    padding: 0px;
}
.bg-fundo{
    background-color: rgb(179, 179, 179);
    position: relative;
}
.bg-conteudo{
    background-color: white;
}
.txt-header{
    margin-top: -38px;
    margin-left: 26px;
}
.txt-header h1{
    font-family: FonteLogo;
    color: #dddddd; 
}
/* Formatação do navbar */
.nav-item a{
    color: black;
}
.nav-item a:hover{
    border: black 0.1px solid;
    background-color: gray;
    color:white;
}
 .icone{
     position: absolute;
     left: 74%;
     top: 28px;
 }
/*Formatação do container a direita*/
.cont-direita{
    box-shadow: 1px 1px 4px black;
    font-family: bubblegum-sans-regular;
}
.cont-direita video{
    width: 100%;
}
.aside{
    background-color: rgba(192, 184, 174, 0.897);
    margin: auto;
    margin-top: 25px;
    box-shadow: 2px 3px 4px black;
}
/* Formatação do container a esquerda */
.cont-esquerda video{
    width: 100%;
}
.cont-esquerda span{
    margin-left: 69%;
    font-size: 10pt;
}
/* Formatação de imagens com legenda */
figure.foto-legenda{
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    position: relative;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s;
}
figure.foto-legenda figcaption:hover{
    opacity: 1;
}

/* Formatação rodapé */
.rodape{
   margin-top: -15px; 
}